
@{
    ViewData["Title"] = "Admin Page";




}

<h2>Admin Page</h2>
<br>
<a asp-controller="Admin" asp-action="CRUD"><img class="img-responsive" id="pbuttons" src="~/images/AdminPhotos/reel.png" width="200" /></a>&nbsp;
<a asp-controller="Admin" asp-action="GetUserDetails"><img class="img-responsive" id="pbuttons" src="~/images/AdminPhotos/user.png" width="200" /></a>&nbsp;
<a asp-controller="Admin" asp-action="CheckBookSeatAsync"><img class="img-responsive" id="pbuttons" src="~/images/AdminPhotos/book.png" width="200" /></a>&nbsp;
<a asp-controller="Admin" asp-action="ViewHalls"><img class="img-responsive" id="pbuttons" src="~/images/AdminPhotos/halls.png" width="200" /></a>&nbsp;
<a asp-controller="Admin" asp-action="Bar"><img class="img-responsive" id="pbuttons" src="~/images/AdminPhotos/stats.png" width="200" /></a>&nbsp;





