@model IEnumerable<OnlineMovieTicketBooking.Models.Halls>
@{
    ViewData["Title"] = "Default";
}


   
<ul class="nav nav-tabs">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="list-group-item list-group-item-action" asp-action="Index" asp-route-id="@item.Id">@item.HallName</a>
        </li>
    }
    </ul>

    

